* {
	margin: 0;
	padding: 0
}

body {
	-webkit-transition: background .5s ease;
	-moz-transition: background .5s ease;
	transition: background .5s ease;
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif
}

#main {
	position: absolute;
	height: 200px;
	width: 600px;
	background-color: rgba(0, 0, 0, .5);
	text-align: center;
	color: #eee;
	margin: 0 auto;
	border-radius: 7px
}

#time {
	width: 600px;
	height: 75px;
	margin: 0 auto 25px;
	padding-top: 15px;
	text-align: center;
	font-size: 4rem
}

#hex {
	width: 600px;
	height: 75px;
	margin: 0 auto 50px;
	padding-top: 15px;
	text-align: center;
	font-size: 2.5rem
}

#title {
	width: 600px;
	height: 5.5rem;
	font-size: 5rem;
	margin-top: 25px;
	position: absolute;
	text-align: center;
	color: #eee;
	font-family: Comfortaa, sans-serif
}